/** @format */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
body {
  font-family: "Nunito", sans-serif;
  color: var(--text-clr);
}

.Link{
  text-decoration: none;
  color: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background: hsla(30, 0%, 17%, 100%);
}