/** @format */

.buttomNav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  list-style: none;
  z-index: 2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(12px);
  background: var(--buttomNav-clr);
}

.buttomNav .buttomNavLink {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 25%;
  padding: 5px;
  transition: all 300ms;
}
.buttomNav .disc {
  font-size: 0.7rem;
}

.buttomNav img {
  width: 2em;
  padding: 0.2em;
  filter: opacity(0.5);
}

.buttomNav .currentPage {
  filter: opacity(1);
}

.buttomNav .buttomNavLink:hover {
  background-color: rgb(214, 214, 214);
}
.buttomNav .Link {
  color: var(--dark-clr);
  color: rgb(48, 48, 48);
}

.cartQu {
  background: red;
  position: absolute;
  top: 4%;
  right: 28%;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  font-size: 0.9em;
  transition: all 400ms;
}

.hideCartQu {
  transform: scale(0);
}
