/** @format */

.cart {
  width: 100%;
  height: 95vh;
  padding-top: 0.8em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5vh;
  transition: all 300ms;
  z-index: 1;
  background: rgb(245, 242, 242);
  overflow: scroll;
  scroll-behavior: smooth;
  backdrop-filter: blur(7px);
}

.cartItemContainer {
  height: 100px;
  width: 95%;
  margin: 0.4em auto;
  padding: 0.2em;
  border-radius: 8px;
  display: flex;
  box-shadow: -2px 2px 10px rgb(22, 21, 21);
  background: rgb(214, 214, 214);
  color: aliceblue;
}

.cartItemContainer img {
  width: 25%;
  border-radius: 8px;
}

.cartItemInfo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.cartItemInfo .itemName,
.cartItemInfo .itemCost {
  text-align: start;
  margin-left: 10px;
}
.cartItemInfo .itemCost {
  color: rgb(0, 185, 0);
}

.cartItemQuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.cartItemQu {
  padding: 5px 17px;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  color: var(--dark-clr);
  background-color: var(--light-clr);
  border-radius: 8px;
  border: 0.5px solid var(--dark-clr);
}


.cartQu {
  background: red;
  position: absolute;
  top: 4%;
  right: 25%;
  width: 1.3em;
  height: 1.4em;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  font-size: 0.9em;
  transition: all 400ms;
}

.hideCartQu {
  transform: scale(0);
}