/** @format */
.label {
  font-size: 2rem;
  font-weight: 500;
  padding: 10px;
  padding-top: 30px;
}
.horizontalCardContainer {
  display: flex;
  width: 100%;
  padding: .8em;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding-right: 2em;
}

.horizontalCardContainer .card {
  width: 20em;
  height: 13em;
  margin: auto 2em;
  border-radius: 10px;
  box-shadow: -4px 4px 20px var(--shadow-clr);
  scroll-snap-align: center;
}
.horizontalCardContainer img {
  height: inherit;
  width: inherit;
  border-radius: 8px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.category {
  background: var(--primary-clr);
  width: min(28%, 16em);
  
  margin: 1em auto;
  border-radius: 8px;
  box-shadow: -2px 2px 18px var(--shadow-clr);
  position: relative;
  overflow: hidden;
}
.category .imgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.category img {
  width: 70%;
 max-height: 8em;
  padding: 1em;
  padding-bottom: 0;
  filter: drop-shadow(-5px 5px 8px var(--shadow-clr));
}
.catygoryName {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 0.5em;
  font-size: 1.2rem;
  font-weight: bolder;
}
