/** @format */
.label {
  font-size: 1.9em;
  font-weight: 500;
  padding: 10px;
  padding-top: 30px;
}
.horizontalCardContainer {
  display: flex;
  width: 100%;
  padding: 10px;
  background: var(--primary-clr);
  overflow: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.horizontalCardContainer .card {
  width: 300px;
  height: 200px;
  margin: auto 15px;
  border-radius: 10px;
  box-shadow: -4px 4px 20px var(--shadow-clr);
  scroll-snap-align: start;
}
.horizontalCardContainer img {
  height: inherit;
  width: inherit;
  border-radius: 8px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.category {
 background: var(--primary-clr);
  width: 28%;
  height: 120px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: -2px 2px 18px var(--shadow-clr);
  position: relative;
  overflow: hidden;
}
.category .imgContainer{
   display: flex;
  justify-content: center;
  width: 100%;
  
}
.category img {
  width: 60%;
  height: 80px;
}
.catygoryName {
  width: 100%;
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 5px;
  font-size: 1.1rem;
  font-weight: bolder;
}
