/** @format */
.settingsCon{
  height: 100vh;
}
.profileCon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}
.profileImgCon {
  display: flex;
  justify-content: center;
  width: 100%;
}
.profileImgCon img {
  width: 20vh;
  height: 20vh;
  margin: auto;
  border-radius: 50%;
  box-shadow: -5px 5px 10px var(--shadow-clr);
}

.profileCon .username {
  padding: 10px;
  font-size: 1.3rem;
}
.settingsOpthion {
  background: var(--primary-clr);
  box-shadow: 2px 2px 5px var(--shadow-clr);
  padding: 10px;
  margin: 2px 0;
  font-size: 1.1rem;
}
