/** @format */

.verticalCardContainer {
  display: flex;
  width: 100%;
  padding: 10px;
  overflow: scroll;
  position: relative;
  scroll-behavior: smooth;
}

.label {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px;
  padding-top: 30px;
  color: aliceblue;
}
.verticalCardContainer .card {
  border-radius: 10px;
  margin: auto 15px;
  box-shadow: -2px 2px 10px rgb(20, 20, 20);
}
.verticalCardContainer img {
  width: 280px;
  height: 180px;
  border-radius: 9px;
}
